@(card: Form[WSUpdateCardData], customer: Seq[CustomerData], id: Long)(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.CardController.modifyCard(id)) {
    @helper.CSRF.formField
    @inputText(card("number"))
    Status
    <br/>
    <select name="status" id="status">
        <option value="N">New</option>
        <option value="A">Active</option>
        <option value="C">Closed</option>
        <option value="B">Blocked</option>
    </select>
    <br/>
    Customer
    <br/>
    <select name="customerId" id="customer">
        <option value="">No customer</option>
    @for(cust <- customer) {
        <option value="@cust.id">@cust.name @cust.surname</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Update card">
    </div>
}