@(transaction: WSResponseTransactionData)

<ul>
    <li>
        @if(transaction.customer.isDefined) {
            Customer: <strong>@transaction.customer.get.name @transaction.customer.get.surname</strong>
        }
            <br/>transaction type: @transaction.transaction.tType
            <br/>transaction status: @transaction.transaction.status
            <br/>comment: @transaction.transaction.comment
            <br/>total price: @transaction.transaction.value
            <br/>
            <strong>transaction location:</strong>
        @if(transaction.location.isDefined) {
            <br/>
            @views.html.transactions.locationdata(transaction.location.get)
        }
            <br/>
            <strong>transaction order:</strong>
        @if(transaction.order.isDefined) {
            <br/>
            @views.html.transactions.orderdata(transaction.order.get)
        }

            <br/>
            <a href="@controllers.routes.TransactionController.reverseTransactionForm(transaction.transaction.id)">reverse</a>
            <a href="@controllers.routes.TransactionController.modifyTransactionForm(transaction.transaction.id)">update</a>
    </li>
</ul>